body{
    /* background-image: url(/assets/images/cloud.png); */
    background-position: bottom;
    background-size: cover;
}

.double div{
    width: 48%;
}

.petit{
    font-size: 0.8rem;
}

#hour, #double div, #wind{
    background-color: rgba(179, 226, 238,0.7);
}

@media(max-width:640px){
    #hour{
        overflow: scroll;
    }
}